<template name="profileSignup">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" name="emailAddress">
      </div>
      <div class="form-group">
        <label for="password">Password <span class="text-muted">(at least six characters)</span></label>
        <input type="password" class="form-control" name="password">
      </div>
    </div>
  </div>
</template>
