<template name="pizzaList">
  {{#each pizzas}}
    {{> Template.dynamic template="pizza" data=location}}
  {{/each}}
</template>

<template name="pizza">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="clearfix">
        <strong class="pull-left">{{#unless isProfile}}<input type="checkbox" name="selectCustomPizza" value="{{_id}}"> {{/unless}} Pizza Name</strong>
        {{#if isProfile}}
          <a class="pull-right remove-pizza" href="#">Delete this Pizza</a>
        {{/if}}
      </p>
      <p>A tasty, <strong>{{size}}</strong>-inch pizza, with a <strong>{{crust}}</strong> crust. Comes with: <strong>{{sauce}}</strong> sauce, and <strong>{{toppings.meats}}</strong>, <strong>{{toppings.nonMeats}}</strong>.</p>

      {{#if isProfile}}
        <a href="{{pathFor 'order'}}" class="btn btn-success">Order Again</a>
      {{/if}}
    </div>
  </div>
</template>
